 @media print{
		 	.no-print{
          display: none !important;
        }
        .printable{
          display: block;
        }
        .invoice-info{
        	margin-top: -10%;
        }
        .udb{
        	margin-top: -40%;
        }

    }




 /*============ PAGE HEADERS============== */



.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.paid-notification{
	width: 50%;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	background:#4bb464;
}

.unpaid-notification{
	width: 50%;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	background:#ed4040;
}

.badge-danger{
	background: #ed4040;
	color: #fff;
}

.badge-success {
	background: #4bb464;
	color: #fff;
}


#error_message{
	display: none;
}
.sermon_image a img{
	height: 250px;
}
.logo .logo-img{
	background-color: #fff;
	padding-top:14px;
	width:106px;
	height:80px;
}
.text-danger{
	color: #ed4040;
}
.border-left{
	border-left: 1px solid #ccc !important;
}
[class*="alert"].alert-warning,
  .warning{
    border-color: #ed4040;
    color: #eb740b;
  }
.default-color{
	color: #b01933;
}

  [class*="alert"].alert-warning:before{
    content: "\e956";
  }
.logo .logo-img{
	text-align: center;
	margin:auto;
	display: block;
}
.top-header{
	height: 80px !important;
}
.text-white{
	color: #fff;
}
.text-center{
	text-align: center;
}
.mt-5{
	margin-top: 5% !important;
}
.mb-5{
	margin-bottom: 5% !important;
}
.container.wide{
	margin-top: 0;
}
.breadcrumbs-wrap.left-side{
	padding-top: 35%;
}
.text-white{
	color: #fff;
}
.r-round{
	border-radius: 50px;
}
input.is-invalid{
	border: 2px solid #d62649 !important;
}
.invalid-feedback{
	color: #d62649;
}
textarea{
	resize: none !important;
}
.breadcrumbs li h3{
	color: #fff;
}
/*========================= ABOUT PAGES ==============*/
/*Who we are*/
.about-page-intro{
	height: 100%;
	background: url('../../wg_content/About_us/Who_we_are/2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 50%;
	padding-bottom: 20%;
	position: relative;
}
.about-page-intro::after,
.statement-of-faith::after,
.breadcrumb-intro::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.4);
}
.events {
    height: 550px;
    background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/About_us/Events/1.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

 .events .container .page-title,
 .events .container ul li{
     color: #fff;
 }

 .calendar {
     height: 100vh;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Services/Calendar/1.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .calendar .container .page-title,
 .calendar .container ul li{
     color: #fff;
 }
 .friday {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Services/friday_allnight/WS-D5-30.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .friday .container .page-title,
 .friday .container ul li{
     color: #fff;
 }
 .monday {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Services/monday_prophetic/WS20-232.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .monday .container .page-title,
 .monday .container ul li{
     color: #fff;
 }

 .sunday {
     height: 100vh;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Services/sunday_services/sunday.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .sunday .container .page-title,
 .sunday .container ul li{
     color: #fff;
 }
.women {
     height: 100vh;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Services/Women/1.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .women .container .page-title,
 .women .container ul li{
     color: #fff;
 }

 .youth {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Services/Youth/1.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .youth .container .page-title,
 .youth .container ul li{
     color: #fff;
 }
 .connect {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Get_Involved/connect/1.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .connect .container .page-title,
 .connect .container ul li{
     color: #fff;
 }
.homecell {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Get_Involved/homecell/Evang-TKD-57.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .homecell .container .page-title,
 .homecell .container ul li{
     color: #fff;
 }

 .dept {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Get_Involved/Department/Multimedia/WS20-28.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .dept .container .page-title,
 .dept .container ul li{
     color: #fff;
 }
 .sunday_school {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Get_Involved/sunday_school/_Y6A0487.JPG");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .sunday_school .container .page-title,
 .sunday_school .container ul li{
     color: #fff;
 }



 .wg_tv {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Media/WGTV/tv.jpg") !important;
     background-size: cover !important;
     background-position: center !important;
     text-align: center;
 }

 .wg_tv .container .page-title,
 .wg_tv .container ul li{
     color: #fff;
 }

 .socials {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.2), rgba(176, 25, 51,.2)), url("../../wg_content/Media/Socials/social.jpg") !important;
     background-size: cover !important;
     background-position: top !important;
     text-align: center;
 }

 .socials .container .page-title,
 .socials .container ul li{
     color: #fff;
 }

  .visit {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.2), rgba(176, 25, 51,.2)), url("../../wg_content/Branches/visit/visit.jpg") !important;
     background-size: cover !important;
     background-position: top !important;
     text-align: center;
 }

 .visit .container .page-title,
 .visit .container ul li{
     color: #fff;
 }
 .fresh_start {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.2), rgba(176, 25, 51,.2)), url("../../wg_content/Branches/fresh_start/fresh.jpg") !important;
     background-size: cover !important;
     background-position: top !important;
     text-align: center;
 }

 .fresh_start .container .page-title,
 .fresh_start .container ul li{
     color: #fff;
 }

  .counselling {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.2), rgba(176, 25, 51,.2)), url("../../wg_content/get_help/counseling/1.jpg") !important;
     background-size: cover !important;
     background-position: top !important;
     text-align: center;
 }

 .counselling .container .page-title,
 .counselling .container ul li{
     color: #fff;
 }


 .baptism {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.2), rgba(176, 25, 51,.2)), url("../../wg_content/get_help/baptism/2.jpg") !important;
     background-size: cover !important;
     background-position: center !important;
     text-align: center;
 }

 .baptism .container .page-title,
 .baptism .container ul li{
     color: #fff;
 }

.blog_catalogue {
     height: 550px;
     padding-top: 230px !important;
     background: linear-gradient(rgba(176, 25, 51,.2), rgba(176, 25, 51,.2)), url("../../wg_content/Blog/blog_catalogue/blog.jpg") !important;
     background-size: cover !important;
     background-position: top !important;
     text-align: center;
 }

 .blog_catalogue .container .page-title,
 .blog_catalogue .container ul li{
     color: #fff;
 }


 .testimonies {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.2), rgba(176, 25, 51,.2)), url("../../wg_content/Media/Testimonies/test.jpg") !important;
     background-size: cover !important;
     background-position: top !important;
     text-align: center;
 }

 .testimonies .container .page-title,
 .testimonies .container ul li{
     color: #fff;
 }





 .volunteer {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Get_Involved/volunteer/HO_EVANG-121.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .volunteer .container .page-title,
 .volunteer .container ul li{
     color: #fff;
 }

 .partner {
     height: 550px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Partnership/OCE/OCE-125.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .partner .container .page-title,
 .partner .container ul li{
     color: #fff;
 }

 .p_dept {
     height: 100vh;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Get_Involved/Department/Prayer/WS20-46.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .p_dept .container .page-title,
 .p_dept .container ul li{
     color: #fff;
 }

 .sermon {
     height: 500px;
     background: linear-gradient(rgba(176, 25, 51,.5), rgba(176, 25, 51,.5)), url("../../wg_content/Media/Sermon/WS20-148.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .sermon .container .page-title,
 .sermon .container ul li{
     color: #fff;
 }


.about-page-intro .about-page-intro-text{
	position: relative;
	z-index: 1;
	padding: 10px 10px 10px 5%;
}
.about-page-intro h1{
	font-size: 5em;
	color: #fff;
}
.about-page-intro h3{
	color: #fff;
}
.who-we-are{
	padding: 5% 20px;
}
.who-we-are h2{
	font-size: 40px;
	margin-bottom: 30px;
}
.who-we-are .row .col-md-6 p{
	padding: 10px 10px 0 5%;
}
.container-fluid .row .col-md-6 .info-image-div,
.prophet-remarks .row .col-md-6 .info-image-div,
.container .row .col-md-5 .info-image-div{
	padding: 0;
	overflow: hidden;
	border-radius: 10px;
}
.container-fluid .row .col-md-6 .info-image-div img,
.prophet-remarks .row .col-md-6 .info-image-div img,
.container .row .col-md-5 .info-image-div img{
	transition: 4s;
	/*border-radius: 10px;*/
}
.container-fluid .row .col-md-6 .info-image-div img:hover,
.prophet-remarks .row .col-md-6 .info-image-div img:hover,
.container .row .col-md-5 .info-image-div img:hover{
	transform: scale(1.1);
}
.about-core-values{
	margin-top: 5%;
	margin-bottom: 5%;
}
.statement-of-faith, .breadcrumb-intro{
	background: url('../../wg_content/About_us/Who_we_are/3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	margin-bottom: 5%;
}
.statement-of-faith .container{
	position: relative;
	z-index: 1;
	padding:5% 10px;
}
.statement-of-faith::after{
	background: rgba(0,0,0,.8);
}
.statement-of-faith .container h2{
	color: #fff;
}
.statement-of-faith .container .custom-list .wrapper{
	color: #fff;
}
.statement-of-faith .container .custom-list[class*="type-"] li::before{
	color: #fff;
}
.statement-of-faith .container .custom-list{
	text-align: justify;
}
.breadcrumb-intro{
    background: url("../../wg_content/About_us/Contact_us/1.jpg");
    background-position: center;
    background-size: cover;
	text-align: center;
	padding: 40% 5% 9% 10px;
}
.breadcrumb-intro::after{
	background: rgba(176, 25, 51,.5);
}
.breadcrumb-intro .container{
	position: relative;
	z-index: 1;
}
.breadcrumb-intro .container .breadcrumbs{
	padding: 0px 1%;
}
.breadcrumb-intro .container .page-title,
.breadcrumb-intro .container ul li{
	color: #fff;
}
.prophet-remarks .row .col-md-6{
	margin-bottom: 7%;
}
.pastoral-team{
	margin-bottom: 5%;
}
.pastoral-team .row .col-md-3 .overlay div,
.pastoral-team .head-row .col-md-6 .overlay div{
	position: absolute;
	bottom:-80px;
	left: 20px;
	transition: .5s;
	transition-delay: .3s;
	color: #fff;
	z-index: 1;
	text-align: center;
}
.pastoral-team .row .col-md-3 .overlay div{
	bottom: -40%;
}
.pastoral-team .row .col-md-3 .overlay,
.pastoral-team .head-row .col-md-6 .overlay{
	padding: 0;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}
.pastoral-team .row .col-md-3 .overlay::after,
.pastoral-team .head-row .col-md-6 .overlay::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transition: .5s;
	bottom: 0;
	transform: scale(0);
	right: 0;
	background: rgba(176, 25, 51,.5);
	overflow: hidden;
}
.pastoral-team .row .col-md-3 .overlay:hover::after,
.pastoral-team .head-row .col-md-6 .overlay:hover::after{
	transform: scaleY(1) rotate(360deg);
}

.pastoral-team .row .col-md-3 .overlay:hover div,
.pastoral-team .head-row .col-md-6 .overlay:hover div{
	bottom: 40px;
}
.pastoral-team .head-row{
	margin: 0px;
	padding: 0px;
	margin-bottom: 5%;
}
.pastoral-team .head-row .col-md-6{
	padding: 10px;
	margin: 0;
}
.pastoral-team .row .col-md-3 .overlay div h5,
.pastoral-team .row .col-md-6 .overlay div h5{
	color: #fff;
}
.jesus-festival{
	margin-top: 5%;
	margin-bottom: 5%;
}
.jesus-festival h2{
	margin-bottom: 10px;
}
.jesus-festival .event-breakdown-div{
	padding-left: 10px;
}
.contact_with_socail {
	padding: 0px;
	margin-top: 5%;
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
}
.contact_with_socail li {
	display: inline-block;
	padding-right: 20px;
}
.contact_with_socail li:last-child {
	padding: 0;
}
.contact_with_socail li a {
	font-size: 18px;
	height: 37px;
	color: #af8192;
	background: #fff;
	width: 37px;
	display: block;
	text-align: center;
	border-radius: 50%;
}
.contact_with_socail li a .icon {
	padding-bottom: 0;
	margin-bottom: 0;
	height: 37px;
}
.contact_with_socail li a:hover, . .contact_with_socail li a:focus {
	background: #2b00f7;
	color: #fff;
}
.contact_with_socail li:first-child a{
	background-color: #dc4e41;
	color: #fff;
}
.contact_with_socail li:nth-child(2) a{
	background-color: #3b5998;
	color: #fff;
}
.contact_with_socail li:nth-child(3) a{
	background-color: #517fa4;
	color: #fff;
}
.contact_with_socail li:nth-child(4) a{
	background-color: #55acee;
	color: #fff;
}

.contact_with_socail li:nth-child(5) a{
	background-color: #b31217;
	color: #fff;
}
.contact-section .row .col-md-4{
	margin-top: 5%;
}

.event-month{
	margin-top: 3%;
	margin-bottom: 20px;
}
.event-cards-section{
	margin-bottom: 5%;
}
.children_intro{
	margin: 10% auto;
}
.children_intro .row .col-md-6:first-child, .children_intro .row .second_child{
	padding-top: 5%;
}
.children_intro .row .col-md-6:first-child h1, .children_intro .row .second_child h1{
	font-weight: lighter;
	/*color: #1d2cb7;*/
	padding-bottom: 2%;
}

.children_intro .row .col-md-6:first-child p, .children_intro .row .second_child p{
	padding-right: 5%;
	line-height: 27px;
	text-align: justify;
}
.children_intro .row .col-md-6:last-child div img, .children_intro .row .first_child div img{
	border-radius: 5px;
	transition:.4s;
	transform: scale(1.2);
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.children_intro .row .col-md-6:last-child, .children_intro .row .first_child{
	overflow: hidden;
	padding: 0;
}
.children_intro .row .col-md-6:last-child div, .children_intro .row .first_child div{
	overflow: hidden;
	padding: 0;
	border-radius: 5px;
	transition: .4s;
}
.children_intro .row .col-md-6:last-child div:hover img, .children_intro .row .first_child div:hover img{
	transform: scale(1);
}
.children_hero{
	background: url('../images/m1.jpg');
	height: auto;
	padding-bottom: 4%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 5%;
}
.children_hero::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgba(0,0,0,.6);
}
.children_hero_desc{
	position: relative;
	z-index: 4;
	color: #fff;
}
.children_hero_desc h2{
	text-align: center;
	padding-top: 4%;
	padding-bottom: 10px;
	font-size: 40px;
	color: #fff;
	font-weight: lighter;
}
.children_hero_desc h5{
	font-weight: lighter;
	text-align: center;
	padding-bottom: 1%;
	color: #fff;
}
.children_hero_desc p{
	line-height: 25px;
	font-weight: lighter;
	font-size: 17px;
	padding-left: 7%;
	padding-right: 7%;
	text-align: justify;
}
.children_hero_desc p a{
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #fdc900;
}
.children-classes{
	padding-top: 15%;
	margin-bottom: 5%;
}
.children-classes .row .col-md-3{
	padding-top: 5%;
}
.youth-service-section p{
	padding: 10px 5%;
	text-align: center;
}
.youth-service-stats{
	margin-bottom: 5%;
}
.youth-service-stats h5{
	padding-bottom: 10px;
}
.youth-service-stats .row{
	margin-bottom: 3%;
}




/*======================= GET INVOLVED SECTION ============*/
.join-us-tv,
.join-us-radio{
	background: #b01933;
	padding: 4% 10px;
	text-align: center;
	margin-bottom: 4%;
}
.join-us-tv h2{
	color: #fff;
}
.join-us-tv p{
	text-align: center;
	padding: 10px 5%;
	color: #fff;
}
.join-us-tv a,
.join-us-radio{
	background: #fff;
	color: #b01933;
}
.join-us-radio{
	background: #f7f7f7;
}
.join-us-radio h2{
	color: #b01933;
}
.join-us-radio p{
	padding: 10px 5%;
	color: #b01933;
}

/*=== Volunteer Page ====*/
#volunteer-section{
	margin-top: 5%;
}
.volunteer_form{
	border: 1px solid red;
	padding: 40px 10px;
}

/*=== Our Department ===*/
.dept-container{
	padding: 10px 2%;
}
.parallax-section{
	position: relative;
}
.parallax-section::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
}
.parallax-section .container.wide{
	position: relative;
	z-index: 1;
}



/*================= MEDIA SECTION ================*/
.shop-list-container{
	margin-top: -5%;
	margin-bottom: 10%;
}
.filter_section form span{
	padding-right: 5%;
	font-size: 20px;
	font-family: 'Lora', serif;
	color: #333;
	font-style: italic;
}
.shop-list-container .row .col-md-9 .row{
	margin-top: 3%;
}
.single-product-wrap {
	background: #ffffff none repeat scroll 0 0;
	position: relative;
	padding: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 300ms ease-in 0s;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}
.single-product-wrap:hover {
	margin: 0 0 -75px;
	padding: 0 0 75px;
	z-index: 1;
}
.single-product-wrap.mt-40:hover {
	margin: 40px 0 -85px;
}
.single-product-wrap::before {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
	border-radius: 4px;
	bottom: -15px;
	content: "";
	left: -10px;
	opacity: 0;
	position: absolute;
	right: -10px;
	top: -15px;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
	visibility: hidden;
	z-index: 0;
}
.single-product-wrap:hover:before{
	opacity: 1;
	visibility: visible;
}
.product-image > a {
	display: block;
	position: relative;
}
.single-product-wrap:hover .secondary-image{
	opacity: 1;
}
.product-image > span.sticker {
	background: #0363cd;
	border-radius: 100%;
	color: #fff;
	right: 15px;
	position: absolute;
	top: 20px;
	z-index: 1;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
}
.product-review {
	border-bottom: 1px solid #ebebeb;
}
.manufacturer {
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
	color: #a4a4a4;
	margin-bottom: 11px;
	line-height: 16px;
}
.rating > li {
	display: inline-block;
	margin: 0;
}
.review-item {
	padding-left: 20px;
	position: relative;
}
.review-item:hover::before {
	color: #fed700;
}
.rating li i {
	font-size: 12px;
	color: #fed700;
}
.rating li.no-star i {
	color: #e3e3e3;
}

.product_desc {
	margin: 15px 0 0;
}
.product_desc .product_desc_info .rating-box {
	background: #fff;
	display: block;
	line-height: 1;
	padding-bottom: 15px;
	float: right;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
	overflow: hidden;
}
.rating-box.featured-rating-box {
	float: unset !important;
	margin: 10px 0 0;
}
.product_desc .product_desc_info > h4 {
	padding-top: 15px;
	margin: 0px;
}
.product_desc_info {
	position: relative;
}
.product_desc .product_desc_info .product_name {
	display: block;
	color: #ef2245;
	font-size: 20px;
	font-weight: 500;
	line-height: 18px;
	text-transform: capitalize;
}
.product_desc .product_desc_info .product_name:hover {
	text-decoration: none;
}
.product_desc .manufacturer a {
	color: #a4a4a4;
	font-size: 13px;
	margin-top: 9px;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;
}
.product_desc .manufacturer a:hover {
	color: #fed700;
}
.product_desc .product_desc_info .new-price ,
.featured-price-box .new-price,
.featured-price-box .new-price-2{
	color: #2f333a;
	font-size: 19px;
	font-weight: 500;
	padding-right: 10px;
}
.price-box .new-price-2{
	font-size: 12px;
	text-decoration: line-through;
	font-style: italic;
}
.product_desc .product_desc_info .price-box .new-price-2,
.featured-price-box .new-price-2 {
	color: #e80f0f !important;
}
.product_desc .product_desc_info .price-box .discount-percentage,
.featured-price-box .discount-percentage {
	float: right;
	color: #e80f0f;
}
.product_desc .product_desc_info .old-price {
	color: #666;
	font-size: 14px;
	font-weight: 400;
	text-decoration: line-through;
}
.product_desc .product_desc_info .price-box {
	line-height: 1;
	margin-top: 16px;
}
.countersection {
	display: inline-block;
	width: 100%;
	position: relative;
}
.li-countdown .count, .product-sale-countdown .count {
	display: inline-block;
	text-align: center;
	color: #e80f0f;
	border: 2px solid #dbdbdb;
	margin:20px 2px 0;
	padding:5px;
	border-radius:2px
}
.li-countdown .count span {
	color: #242424;
	display: block;
	position: relative;
}
.add-actions-link {
	display: inline-block;
	margin-top: 24px;
	padding-top: 20px;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
	width: 100%;
}
.add-actions-link li {
	line-height: 1;
	margin: 0 0 0 3px;
	background: #eef0f1;
	display: inline-block;
	border-radius: 4px;
	float: left;
	height: 35px;
	line-height: 35px;
	width: 35px;
}
.add-actions-link li.add-cart {
	float: left;
	margin: 0;
	background: #eef0f1;
	border: 1px solid #e1e1e1;
	transition: all 0.3s ease-in-out;
	width: 120px;
}
.add-actions-link li:hover {
	background: #fed700;
	border-color: #fed700;
}
.add-actions-link li a {
	color: #fff;
	display: block;
	font-size: 17px;
	font-weight: 400;
	padding: 0;
	position: relative;
	text-align: center;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
}
.add-actions-link li.add-cart.active a {
	color: #fff;
}
.add-actions-link li:hover a,
.add-actions-link li.add-cart:hover a {
	color: #fff;
}
.add-actions-link li.add-cart > a {
	color: #a4a4a4;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.add-actions-link li.add-cart > a i {
	font-size: 16px;
	line-height: 22px;
}
.add-actions {
	bottom: -15px;
	left: 0;
	margin: 0 auto;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.single-product-wrap:hover .add-actions {
	bottom: 0;
	opacity: 1;
}
#shop-pagination{
	margin-top: 10%;
}


/*Shop Sidebar*/
#product-image-sidebar{
	width: 100px;
	height: 90px;
}
.shop-item-image{
	width: 100%;
	height: 100%;
}
.add-to-cart-form .product-actions{
	display: inline-flex;
	margin-bottom: 5%;
}
.add-to-cart-form .product-actions .btn-big{
	margin-left: 20px;
}
.product-meta li span{
	font-weight: bold;
	color: #000;
	padding-right: 10px;
}


/*========= PRODUCT DETAILS PAGE =========*/
.shop-item-image{
	height: auto;
	width:100%;
	border-radius: 10px;
	margin-top: 5%;
}
.product-description .product-price span{
	padding-left: 20px;
	text-decoration: line-through;
	font-size: 12px;
}
.item-details-container{
	margin-bottom: 5%;
}
.related-items{
	margin-bottom: 7%;
}
.wg-tv-container .row .col-md-4 .event-detail{
	margin-bottom: 8%;
}
.wg-tv-container .row .col-md-4 .event-detail p:first-child{
	font-size: 20px;
}
.wg-tv-container .row .col-md-4 .event-detail p:last-child{
	background: #ccc;
	color: #000;
	margin-top: -20px;
	padding: 5px 10px;
	font-weight: bold;
	width: 70%;
}
.wg-tv-container .row .col-md-8 .tv-live-section .video-holder img{
	height: 80vh;
}
.wg-tv-container .row .col-md-4 #tv-upcoming-events{
	margin-top: 30% !important;
}



/*========== TESTIMONIALS PAGE ============*/
.testimonials .card{
	padding: 0;
	border:none;
	margin: 10px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
	border-radius: 7px;
}
.testimonials .card .pic_id{
	display: flex;
	padding-top: 4%;
}
.testimonials .card .pic_id img{
	border-radius: 50%;
	margin-left: 20px;
	width: 50px;
	height: 45px;
}
.testimonials .card .pic_id p{
	padding-left: 20px;
}
.testimonials  .card .pic_id p #pic_id_username{
	font-weight: 700;
	color: #002147;
	font-size: 17px;
}
.testimonials .card  .pic_id p #pic_id_program{
	font-style: italic;
	opacity: .7;
	font-size: 13px;
}
.testimonials .card .testimonial_p{
	margin-top: 4px;
	line-height: 28px;
	padding: 10px 5%;
	margin-bottom: 15px;
}
.testimonials .card .testimonial_p p{
	font-size: 15px !important;
}


/*=========== BRANCHES SECTION ===========S*/
.statement-of-faith .container p{
	color: #fff;
}
.statement-of-faith .container a{
	border-radius: 50px;
}
.choir_hero{
	margin-top: 0%;
	margin-bottom: 10%;
}
.choir_hero .row .col-md-6:first-child h3{
	font-weight: lighter;
	font-size: 40px;
	margin-top: -10px;
	padding-bottom: 10px;
}
.choir_hero .row .col-md-6:first-child p{
	text-align: justify;
	padding-right: 30px;
	line-height: 30px;
}
.choir_hero .row .col-md-6:last-child div img{
	transition: .5s;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}
.choir_hero .row .col-md-6:last-child div img:hover{
	transform: none;
	border-radius: 10px;
}




.branch_section {
	margin-bottom: 5%;
}
.branch_section h1{
	padding-bottom: 5%;
}
.branch_section .row .col-md-4 .branch_card{
	display: inline-flex;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	width: 100%;
	border-radius: 10px;
}
.branch_section .row .col-md-4 .branch_card .branch_detail{
	/*float: left;*/
	width:100%;
}
.branch_section .row .col-md-4 .branch_card .branch_sidebar{
	width: 50%;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #b01933;
}
.branch_section .row .col-md-4 .branch_card .branch_sidebar .branch_meet{
	background: #b01933;
	color: #fff;
	padding: 10px 5px;
	border-top-left-radius: 10px;
}
.branch_section .row .col-md-4 .branch_card .branch_sidebar .branch_meet p{
	font-size: 14px;
	font-weight: bold;
	margin-top: -10px;
}
.branch_section .row .col-md-4 .branch_card .branch_sidebar .branch_regard{
	color: #000;
	padding: 10px 5px;
	border-bottom-left-radius: 10px;
}
.branch_section .row .col-md-4 .branch_card .branch_sidebar .branch_meet .top-arrow{
	border-top: 10px solid #b01933;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	left: -63%;
	margin: auto;
	position: absolute;
	right: 0;
	top: 40%;
	width: 0;
	display: none;
}
.branch_section .row .col-md-4 .branch_card .branch_sidebar .branch_regard p{
	font-size: 14px;
	font-weight: bold;
}
.branch_section .row .col-md-4 .branch_card .branch_detail{
	padding: 10px 5px;
}
.branch_section .row .col-md-4 .branch_card .branch_detail h6{
	font-weight: bold;
	font-size: 20px;
	padding-left: 10px;
}
.branch_section .row .col-md-4 .branch_card .branch_detail p{
	font-size: 14px;
	padding-left: 10px;
}

.branch_section .row .col-md-4 .branch_card .branch_detail a{
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	transition: .5s;
}
.branch_section .row .col-md-4 .branch_card .branch_detail a:hover{
	color: #b01933;
}
.branch_section .row .col-md-4 .branch_card .branch_detail a .branch_detail_icon{
	transition: .5s;
}
.branch_section .row .col-md-4 .branch_card .branch_detail a:hover .branch_detail_icon{
	color: #b01933;
	margin-left: 5px;
}
.visit_intro{
	margin-bottom: 4%;
}
.get_connected{
	background: #b01933;
}
.get_connected .container{
	padding: 5% 14px;
	color: #fff;
}
.get_connected .container h2{
	color: #fff;
	/*margin-bottom: 10px;*/
}
.get_connected .container h5{
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-style: inherit;
	padding-bottom: 10px;
}
.get_connected .container p a{
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
}
.expectations{
	margin-top: 8%;
	margin-bottom: 10%;
	text-align: center;
}
.expectations .row .col-md-4{
	margin: 0px;
}
.expectations .row .col-md-4{
	padding: 30px 20px;
	transition: .4s;
	border-radius: 5px;
	border-radius: 3px;
}
.expectations .row .col-md-4:hover{
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,.2);
}
.expectations .row .col-md-4 h4{
	font-weight: 900;
	font-size: 28px;
}
.expectations .row .col-md-4 p{
	padding-top: 5%;
	font-size: 15px;
	text-align: center;
	line-height: 24px;
}
.service_details{
	margin-bottom: 5%;
}
.service_details .row img{
	border-radius: 10px;
}
.sermon_section{
	margin-bottom: 5%;
}


/* ....................................
BLOG PAGE
.......................................*/

.blog-date-2 {
	position: absolute;
	left: 30px;
	top: 30px;
	width: 60px;
	color: #fff;
	background: #b01933;
	color: #fff;
}
.blog-date-2 .day{
	margin-bottom: 0;
	color: #fff;
}
.blog-grid-text {
	padding: 25px 30px;
}
.blog-grid-text h5 a{
	color: #b01933;
}
.blog-grid {
	max-width: 349px;
	margin: auto;
	margin-bottom: 30px;
	background: rgba(0,0,0,.01);
}

.blog-grid:hover {
	background-color: #fff;
	box-shadow: 0px 8px 19px -8px rgba(0, 0, 0, 0.15);
}

.blog-grid-image {
	overflow: hidden;
}
.blog-grid-image img {
	width: 100%;
	transition: 4s;
}
.blog-grid:hover .blog-grid-image img{
	transform: scale(1.4);
}
.blog-text p {
	font-size: 13px;
}
.blog-by-detail{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.blog-by-detail li {
	display: inline-block;
	line-height: 0;
}

.blog-by-detail li a {
	font-size: 12px;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid;
	line-height: 0;
}
.blog-by-detail li:last-child a {
	padding: 0;
	margin: 0;
	border: navajowhite;
}

.page-nav.text-center{
	margin-bottom: 5%;
}



/*==================================
==== PAYMENT PAGE===================*/
.payment_form {
	margin-top: -4%;
}
.give_form_card{
	box-shadow: 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .4) !important;
	border-radius: 5px;
	padding: 10px 20px;
	transform: translateY(0%);
	margin: 10px;
	margin-bottom: 40%;
	border-bottom: 5px solid #b01933;
}
.give_form_card #gift_help{
	text-align: center;
}
.give_form_card #gift_help a{
	color: #000;
}
.give_form_card .form-group{
	padding:5px 0%;
}

.give_form_card .form_section_1 #gift_help{
	padding: 0% !important;
}
.give_form_card button:hover{
	color: #fff;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .4) !important;
}
.give_form_card #gift_help a{
	color: #000;
}
.give_form_card .form_section_2{
	display: none;
}
.payment_buttons{
	margin-top: 8%;
	text-align: right;
}
.payment_buttons .proceed_btn{
	background: #b01933;
	color: #fff;
	border: none;
	font-weight: 500;
	padding: 5px 40px;
}
.payment_form .container .wrapper{
	margin-bottom: 30px;
}





/*===========  GET HELP SECTION ==============*/

/*======== PRAYER REQUEST PAGE ===============*/
.prayer_form {
	position: relative;
	margin-bottom: 5%;
}
.prayer_form .row{
	overflow: hidden;
	padding: 10px 0%;
	margin: 0px;
	border-radius: 5px;
	margin-bottom: 0%;
	box-shadow: 0px 20px 30px 0 rgba(0,0,0,.2);
}
.prayer_form .row .col-md-12 h2{
	font-size: 30px;
	margin-bottom: -5% !important;
	margin-top: 30px;
}
.prayer_form .row .col-md-6{
	padding-bottom: 0%;
}
.prayer_form .row button{
	margin-top: 5%;
}
.prayer_form .row .col-md-12:last-child{
	margin-top: -49px;
}


/*========== BAPTISM PAGE =========*/
#baptism_faq{
	margin-top: 5%;
}
#baptism_faq .row .col-md-5{
	padding-top: 5%;
}
#baptism_faq div.text-center h2{
	padding-bottom: 5%;
}




/*========= ERROR PAGE ==============*/
.error_container h1{
	padding-top: 20px;
	color: #b01933;
	text-align: center;
	font-weight: bolder;
	font-style: inherit;
	font-size: 5.3em;
	padding-bottom: 15px;
	text-shadow: 0 20px 30px rgba(0,0,0,.1);
}
.error_container .row{
	padding: 10px 15%;
}
.error_container .row .col-md-6 h3{
	padding-top: 15%;
	color: #b01933;
	font-weight: bolder;
	font-style: inherit;
	line-height: 50px;
	margin-bottom: 0;
	font-family: sans-serif;
}
.error_container .row .col-md-6 ul li a{
	color: #b01933;
}



/*========== CLIENT SIDE AUTH PAGES  =======*/

.auth_bg{
	background: url('../images/bg-work.jpg');
	height: 100%;
	background-size: cover;

}
.auth_bg .container{
	padding-top: 5%;
}
.auth_bg .container .row .col-md-4 .auth_form_section{

	background: #fff;
	padding: 7%;
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	border-radius: 10px;
}
.auth_bg .container .row .col-md-4 .auth_form_section figure{
	text-align: center;
}
.auth_bg .container .row .col-md-4 .auth_form_section figure img{
	border-radius: 50%;
	/*border: 1px solid #fff;*/
}
.auth_bg .container .row .col-md-4 .auth_form_section .wrapper{
	padding-top: 11%;
}
.auth_bg .container .row .col-md-4 .auth_form_section button{
	margin-top: 15%;
	width: 100%;
}
.auth_bg .container .row .col-md-4 .auth_form_section .row{
	padding-top: 5%;
}
.auth_bg .container .row .col-md-4 .auth_form_section .row .col-md-6 small a,
.auth_bg .container .row .col-md-4 .auth_form_section .row .col-md-12 small a{
	color: #b01933;
	font-size: 13px;
}
[class*="alert"].alert-error:before{
	display: none;
}
[class*="alert"].alert-error{
	padding: 10px;
	margin-bottom: 0;
	margin-top: 10px;
	border:none;
	background: #d62649;
	color: #fff;
	border-radius: 5px;
}
.auth_bg .container .row .col-md-4 p small a{
	color: #b01933;
	font-size: 13px;
}
.auth_bg .container .row .col-md-4 h6{
	margin-bottom: 0;
	padding-top: 10px;
}





/* =========== CLIENT DASHBOARD ===========*/


.pg-inn{
	background: #fff;
	box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.08);
	padding: 70px 15px;
}
.col-md-offset-3 {
	margin-left: 25%;
}
.com-sp{
	padding:100px 0px;
}
.pad-top-0{
	padding-top:0px;
}
.pad-bot-0{
	padding-bottom:0px;
}
.pad-bot-70{
	padding-bottom:70px;
}
.con-title{
	text-align: center;
	margin-bottom: 40px;
}
.con-title h2{
	font-size: 36px;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 40px;
}
.con-title h2 span{
	font-size: 36px;
	font-weight:700;
	color: #f26838;
	line-height: 40px;
}
.con-title p{
	font-size: 18px;
	color: #3f444a;
	font-weight: 300;
}
.pad-all-20{
	padding:20px;
}
.mar-bot-0{
	margin-bottom:0px;
}
.pad-top-173{
	padding-top:173px;
}
.wed-top{
	color: #fff;
	margin: 0 auto;
	padding: 10px 0px;
	max-width: 100%;
	border: 0;
    /* background: #fff;
    */
    box-shadow: 0px 4px 7px hsla(0, 0%, 1%, 0.47);
    width: 100%;
    top: 0;
    transition: transform .2s ease-in;
    position: fixed;
    z-index: 6;
    background: #ffffff;
}

.pro-cover{
	background: url('../images/m1.jpg') no-repeat center center;
	width:100%;
	height:250px;
	display: block;
	position: relative;
	background-size: cover;
}
.pro-cover::after{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(176, 25, 51,.5);
}
.pro-menu{
	background: #b01933;
	box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.08);
	position: relative;
	z-index: 2;
}
.pro-menu .container .col-md-9{
	margin-left: 0%;
}
@media(min-width: 1024px){
	.pro-menu .container .col-md-9{
	margin-left: 25%;
}
}
.pro-menu ul{
	margin-bottom: 0px;
    /* margin: 0 auto;
    */
    display: table;
    margin-left: 25px;
}
.pro-menu ul li{
	display: inline-block;
}
.pro-act{
	background: #fff;
	color: #b01933 !important;
}
.pro-menu ul li a{
	padding: 17px 14px;
	line-height: 53px;
	color: #fff;
	font-weight: 500;
	border-right: 1px solid #b01933;
}
.pro-menu ul li a:hover{
	background: #fff;
	color: #b01933;
}
.pro-user{
	position:relative;
	margin-top:-160px;
	box-shadow: 0px 5px 18px -11px rgba(150,150,150,0.8);
	border: 1px solid #f3f2f2;
	border-bottom: 0px;
	z-index: 2;
}
.pro-user img{
	width:100%;
	border:4px solid #fff;
}
.pro-user-bio{
	background: #fff;
	padding: 25px;
	box-shadow: 0px 5px 18px -11px rgba(150,150,150,0.8);
	border: 1px solid #f3f2f2;
}
.pro-user-bio ul{
}
.pro-user-bio ul li{
	padding-bottom: 10px;
}
.pro-user-bio ul li a{
	color: #333;
    /* font-weight: 500;
    */
}
.pro-user-bio ul li a i{
	margin-right: 5px;
	width: 20px;
}
.pro-user-bio ul li:last-child{
	padding-bottom: 0px;
}
.pro-user-bio ul li:nth-child(2){
	border-bottom: 1px solid #e9edf1;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.pro-con{
	padding: 35px 50px;
}
.pro-con-table{
	border: 1px solid #f7f8f9;
	padding: 5px 15px;
	margin-top: 25px;
}
.pro-con-table tr{
	line-height: 50px;
}
.pro-con-table tr:hover{
	background:#f3f3f3;
}
.pro-con-table th{
	font-weight: 600;
	padding: 10px;
}
.pro-con-table td{
	padding: 10px;
	font-size: 13px;
}
.pro-edit{
	background: #203245;
	color: #ffffff !important;
	padding: 1px 4px;
	border-radius: 2px;
	font-size: 13px;
}
.pro-act{
}
.pro-user-act{
	background: #469c49;
	color: #fff;
	padding: 1px 4px;
	border-radius: 2px;
	font-size: 13px;
}
.pro-user-de-act{
	background: #8794a0;
}
.pro-user-page{
	border: 1px solid #d8d8d8;
	padding: 5px 20px 30px 20px;
	position: relative;
	overflow: hidden;
}
.pro-user-page h5{
	font-size: 16px;
	margin-top: 22px;
}
.pro-user-page label{
	margin-right: 20px;
	font-size: 15px !important;
}
.pro-user-page input{
}
.btn-pro-submit{
	margin-top: 24px;
	background: #f2323b;
	background: linear-gradient(to bottom, #ff4d56, #f12f38);
	color: #fff;
	padding: 14px;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
}
.btn-upload{
	height: 46px !important;
}
.pro-ad-img{
	width:100px;
	padding: 12px;
}
.pro-ad-table{
}
.pro-ad-table tr{
}
.pro-ad-table td{
}
.pro-con{
}
.pro-con form{
}
.pro-con form label,select{
}

/
/*-------------------------------------------------*/
/* = 18.STUDENT DASHBOARD
/*-------------------------------------------------*/
.stu-db{
	position: relative;
    /* overflow: hidden;
    */
    background: #f7f8f9;
}
.udb{
	padding: 0px 25px;
	position: relative;
	overflow: hidden;
}
.udb-sec{
	position: relative;
	overflow: hidden;
	margin-bottom: 35px;
	background: #fff;
	padding: 25px;
	border-radius: 2px;
	box-shadow: 0px 5px 18px -11px rgba(150,150,150,0.8);
	border: 1px solid #f3f2f2;
}
.udb-sec h4{
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeef;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #203245;
}
.udb-sec h4 span{
	font-size: 20px;
}
.udb-sec h4 img{
	margin-right: 10px;
	vertical-align: bottom;
	width:24px;
}
.udb-sec p{
}
.udb-cour{
}
.sdb-cours{
	position: relative;
	overflow: hidden;
	padding-top: 25px;
}
.sdb-cours ul{
}
.sdb-cours ul li{
	width: 50%;
	float: left;
	padding-right: 15px;
	margin-bottom: 15px;
}
/*-------------------------------------------------*/
/* = 19.STUDENT DASHBOARD - COURSES
/*-------------------------------------------------*/
.list-mig-like-com {
	position: relative;
	border-radius: 5px;
    /* margin-bottom: 20px;
    */
    background: #14addb;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.list-mig-like-com:before {
	content: '';
	position: absolute;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.82) 10%, rgba(84, 84, 84, 0.35) 80%);
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-radius: 5px;
}
.list-mig-lc-img img {
	width: 100%;
	border-radius: 5px;
}
.list-mi-pr {
	top: 15px;
}
.list-mig-lc-con {
	position: absolute;
	width: 100%;
	margin-top: -92px;
	padding: 20px 20px 0px 20px;
	display: block;
}
.list-mig-lc-con h5 {
	font-size: 18px;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.list-mig-lc-con h6 {
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: -20px;
    /* right: 0px;
    */
    border: 1px solid #fff;
    padding: 8px 10px 3px 10px;
    border-radius: 18px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.list-mig-lc-con p {
	color: #c1c1c1;
}
.sdb-cours ul li:nth-child(3) {
	margin-bottom: 0px;
}
.sdb-cours ul li:nth-child(4) {
	margin-bottom: 0px;
}
.udb-time-line ul {
	padding: 0px;
	padding-top: 25px;
}
.udb-time-line ul li {
	position: relative;
	overflow: hidden;
	padding-left: 70px;
	padding-bottom: 20px;
}
.udb-time-line ul li:hover .fa-clock-o{
	background: #e66030;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition:all 0.5s ease;
}
.udb-time-line ul li i {
	width: 35px;
	height: 35px;
	background: #517ce6;
	border-radius: 50%;
	text-align: center;
	padding: 8px 10px;
	margin-left: -68px;
	position: absolute;
	z-index: 99;
	color: #fff;
	font-size: 17px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition:all 0.5s ease;
}
.days h4 {
	margin: 25px 0px 15px 0px;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #213d44;
}
.udb-time-line ul li h4 {
	margin-top: 7px;
}
.udb-time-line ul li p {
	padding-top: 0px;
}
.l-info-pack-plac::after {
	content: '';
	background: #eeeeef;
	position: absolute;
	width: 1px;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 19px;
}
.days h4 span {
	color: #929596;
	font-weight: 600;
}
.sdb-cl-tim{
	position: relative;
	overflow: hidden;
	width: 100%;
}
.sdb-cl-day{
	float: left;
	width: 25%;
}
.sdb-cl-day h5{
	text-transform: uppercase;
}
.sdb-cl-day span{
	font-size: 12px;
	color: #9ba3ab;
}
.sdb-cl-class{
	float: left;
	width: 75%;
}
.sdb-cl-class ul{
	padding-top: 0px;
}
.sdb-cl-class ul li{
	padding-left: 0px;
}
.sdb-cl-class-tim{
	float: left;
	width: 25%;
	border-right: 1px solid #dcdcdc;
}
.sdb-cl-class-tim span{
	display: block;
	color: #203245;
	font-weight: 600;
	font-size: 14px;
}
.sdb-cl-class-name{
	float: left;
	width: 75%;
	padding-left: 25px;
	position: relative;
}
.sdb-cl-class-name h5{
}
.sdb-cl-class-name h5 span{
	float: right;
	font-size: 12px;
	color: #9ba3ab;
	border: 1px solid #cccdce;
	border-radius: 20px;
	padding: 0px 7px;
}
.sdn-hall-na{
	font-size: 12px;
	color: #9ba3ab;
}
.sdb-cl-class-name::after {
	content: '';
	background: #2ebf33;
	position: absolute;
	width: 7px;
	top: 3px;
	bottom: 0;
	height: 7px;
	left: 9px;
	border-radius: 25px;
}
.sdb-cl-class-name-lev::after {
	background: #bfa12e;
}
.sdb-tabl-com{
}
.sdb-tabl-com tr{
	color: #969595;
	border-bottom: 1px solid #d0d0d0;
}
.sdb-tabl-com tr td{
	font-size: 15px;
	color: #333;
	padding: 14px 14px 14px 0px;
}
.sdb-pro-table{
}
.sdb-pro-table tr{
}
.sdb-pro-table tr td{
}
.sdb-bot-edit{
	margin-top: 25px;
}
.sdb-bot-edit p{
	padding-bottom:10px;
}
.sdb-bot-edit a{
}
.sdb-btn{
	background: #2f4f73;
	font-size: 12px;
	font-weight: 600;
}
.sdb-btn i{
	margin-right: 10px;
	font-size: 14px;
	vertical-align: initial;
}
.sdb-btn:hover{
	background: #476990;
	color: #fff;
}
.sdb-btn:active{
	background: #476990;
	color: #fff;
}
.sdb-btn:focus{
	background: #476990;
	color: #fff;
}
.backdrop{
	background-color: #ededed;
}
.profile_headers .col-md-3 h6{
	font-weight: bold;
}
.profile_headers .col-md-3 small{
	font-weight: bold;
}
.order-table tbody tr td{
	padding: 10px;
}




/*-----------------
	21. Invoice View
-----------------------*/

.invoice-content {
    background-color: #fff;
	border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-bottom: 30px;
	padding: 30px;
}
.invoice-item .invoice-logo {
    margin-bottom: 30px;
}
.invoice-item .invoice-logo img {
    width: auto;
    max-height: 52px;
}
.invoice-item .invoice-text h2 {
	color:#272b41;
	font-size:36px;
	font-weight:600;
}
.invoice-item .invoice-details {
	text-align:right;
	color:#757575;
	font-weight:500
}
.invoice-item .invoice-details strong {
	color:#272b41
}
.invoice-item .invoice-details-two {
	text-align:left
}
.invoice-item .invoice-text {
	padding-top:42px;
	padding-bottom:36px
}
.invoice-item .invoice-text h2 {
	font-weight:400
}
.invoice-info {
	margin-bottom: 30px;
}
.invoice-info p {
	margin-bottom: 0;
}
.invoice-info.invoice-info2 {
    text-align: right;
}
.invoice-item .customer-text {
	font-size: 18px;
	color: #272b41;
	font-weight: 600;
	margin-bottom: 8px;
	display: block
}
.invoice-table tr th,
.invoice-table tr td,
.invoice-table-two tr th,
.invoice-table-two tr td {
	color: #272b41;
	font-weight: 600;
	padding: 10px 20px;
	line-height: inherit
}
.invoice-table tr td,
.invoice-table-two tr td {
	color: #757575;
	font-weight: 500;
}
.invoice-table-two {
	margin-bottom:0
}
.invoice-table-two tr th,
.invoice-table-two tr td {
	border-top: 0;
}
.invoice-table-two tr td {
	text-align: right
}
.invoice-info h5 {
    font-size: 16px;
    font-weight: 500;
}
.other-info {
    margin-top: 10px;
}

#notification_list{
	border-bottom: 1px solid #ccc;
	padding:21px 10px;
}

#notification_list .row .col-md-3 .btn{
	padding:4px 10px;
}
.confirm_payment_container .row .col-md-4{
	text-align: center;
}

.confirm_payment_container .row .col-md-4 .fa-hand-point-right{
	transition: .5s;
	animation: movement 1s infinite;
	display: none;
	/*margin-left: 50%;*/
	color: #b01933;
    /*animation-duration: ;*/
}
@keyframes movement{
	0%{
		margin-left: 40%
	}
	50%{
		margin-left: 50%;
	}
	100%{
		margin-left: 40%;
	}

}
.header.fixed-header{
	background: rgba(0,0,0,.7);
}
	@media (min-width: 1000px){
		.receipt_card{
			width: 100%;
		}
		.confirm_payment_container .row .col-md-4 .fa-hand-point-right{
		display: inherit;
		text-align: center;
	}
	.receipt_card .receipt_info .date{
		padding-top:20% !important;
	}
	.receipt_card .receipt_info .date:last-child{
		padding-top:0% !important;
	}
	.receipt_card_section{
		padding: 0 0% 10% 16% !important;
	}
	}
	.receipt_card{
		margin-bottom: 4%;
		text-align: center;
		transform: translate(0);
		padding-top: 10px;
		box-shadow: 0 5px 10px rgba(0,0,0,.4);
		font-family: sans-serif;
	}
	.receipt_card h3{
		border-bottom: 5px solid #b01933;
		padding-bottom: 10px;
	}
	.receipt_card .receipt_info{
		padding: 10px 40px;
		text-align: center;
	}
	.receipt_card .receipt_info p{
		font-size: 15px;
		line-height: 20px;
	}
	.receipt_card .receipt_info .value{
		width: 50%;
		float: right;
	}
	.receipt_card .receipt_info .property{
		float: left;
		width: 50%;
	}
	.receipt_card .receipt_info .date{
		padding-top:40%;
	}
	.receipt_card .receipt_info .date:last-child{
		padding-top:0%;
	}

	.podcast_rows .col-md-3 .card{
		padding: 10px;
		transition: .5s;
		border-radius: 5px;
		text-align: center;
	}
	.podcast_rows .col-md-3 .card:hover{
		box-shadow: 0 10px 40px 0 rgba(0,0,0,.2);
	}

	.podcast_rows .col-md-3 .card h5{
		margin-top:10% !important;
	}
	.podcast_rows .col-md-3 .card:hover .fa-3x,
	.podcast_rows .col-md-3 .card:hover h5 a{
		color: #b01933;
	}
