*{
  font-family: sans-serif !important;
}
.custom-ecommerce .col-md-6:last-child h1{
  font-size: 35px;
}
.custom-ecommerce .col-md-6:last-child p{
  font-size: 17px;
}
.custom-ecommerce .col-md-6:last-child .price-section{
  background: #6c757d;
  color: #fff;
  border-radius: 5px;
}
.custom-ecommerce .col-md-6:last-child .price-section h5{
  font-size: 30px;
  font-weight: bold;
}
.custom-ecommerce .col-md-6:last-child .price-section h5 span{
  font-size: 15px;
}
.custom-ecommerce .col-md-6:last-child .price-section p{
  font-size: 19px;
  font-weight: bold;
}
.custom-ecommerce .col-md-6:last-child .product-buttons button{
  padding: 10px 61px;
  margin-right: 10px;
}
/*----------- Pagination --------------*/

  .pagination{
    margin: -15px -15px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .pagination > li{
    padding: 15px 15px 0;
  }

  .pagination > li > a{
    display: block;
    font-weight: 900;
    line-height: 26px;
    text-align: center;
    background: transparent;
    color: #333;
    font-size: 14px;
    border-radius: 50%;
  }

  .pagination > li.active > a,
  .pagination > li:hover > a{
    color: #8f8e8c;
  }

  .prev-page::before,
  .next-page::after{
    font-family: 'linearicons';
    font-size: 20px;
  }

  .prev-page,
  .next-page{
    color: #333;
    background: none;
    box-shadow: none;
    text-transform: uppercase;
    margin: 0 -5px;
  }

  .pagination > li > a.prev-page:hover,
  .pagination > li > a.next-page:hover{
    color: #8f8e8c;
  }

  .prev-page span,
  .next-page span{
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    letter-spacing: 0.5px;
  }

  .prev-page::before,
  .next-page::after{
    font-weight: normal;
    padding: 0 5px;
  }

  .justify-content-center {
  justify-content: center !important;
  margin-left: 40%;
}

#summernote{
  height: 200px !important;
}

.request_detail{
  text-align: center;
  display: none;
   width: 100%;
   box-shadow: 0px 10px 30px 0 rgba(0,0,0,.2);
   padding: 10px 20px;
   border-radius: 10px;
}
.request_buttons_div{
  display: inline-flex;
}
.request_buttons_div button{
  padding: 0;
  height: 30px;
  width: 30px;
  margin:5px;
}

.blogs .post {
    margin-bottom: 30px; }
.blogs .post .content {
    padding: 30px;
    background: #fafafa; }
.blogs .post .content .post-title h5 {
    font-size: 26px;
    line-height: normal;
    padding-left: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 0; }
.blogs .post .content .post-title h5 a {
    color: #232323; }
.blogs .post .content .post-title h5 a:hover {
    color: #F24259; }
.blogs .post .content .meta {
    margin-bottom: 15px;
    margin-left: -10% !important;
}

.blogs .post .content .meta li {
    display: inline-block;
    font-size: 14px;
    color: #777;
    margin: 5px; }
.blogs .post .content .special {
    padding: 15px;
    margin: 30px 0;
    border-left: 2px solid #111;
    background: #f7f7f7;
    font-size: 16px; }
.blogs .post .content .btn {
    border-color: #6f6f6f;
    color: #6f6f6f;
    min-width: auto;
    padding: 6px 20px;
    font-size: 12px; }
.blogs .post .content .btn:hover {
    color: #fff;
    border-color: #F24259; }
.blogs .post .share-post {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed #ddd;
    text-align: left; }
.blogs .post .share-post span {
    font-weight: 700; }
.blogs .post .share-post ul {
    float: right;

}
.blogs .post .share-post ul li {
    display: inline-block;
    margin: 0 10px; }
.blogs .post .post-img img {
    width: 100%; }
.blogs .posts .title-g h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px; }
